<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http://icons.wxug.com/i/c/k/chanceflurries.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/flurries.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/chancesnow.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/snow.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/chancerain.gif</key>
	<string>rain</string>
	<key>http://icons.wxug.com/i/c/k/rain.gif</key>
	<string>rain</string>
	<key>http://icons.wxug.com/i/c/k/chancesleet.gif</key>
	<string>rain</string>
	<key>http://icons.wxug.com/i/c/k/sleet.gif</key>
	<string>rain</string>
	<key>http://icons.wxug.com/i/c/k/chancetstorms.gif</key>
	<string>tstorms</string>
	<key>http://icons.wxug.com/i/c/k/tstorms.gif</key>
	<string>tstorms</string>
	<key>http://icons.wxug.com/i/c/k/cloudy.gif</key>
	<string>cloudy</string>
	<key>http://icons.wxug.com/i/c/k/fog.gif</key>
	<string>fog</string>
	<key>http://icons.wxug.com/i/c/k/hazy.gif</key>
	<string>fog</string>
	<key>http://icons.wxug.com/i/c/k/mostlycloudy.gif</key>
	<string>partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/mostlysunny.gif</key>
	<string>partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/partlycloudy.gif</key>
	<string>partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/partlysunny.gif</key>
	<string>partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/clear.gif</key>
	<string>clear</string>
	<key>http://icons.wxug.com/i/c/k/sunny.gif</key>
	<string>clear</string>
	<key>http://icons.wxug.com/i/c/k/nt_chanceflurries.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/nt_flurries.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/nt_chancesnow.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/nt_snow.gif</key>
	<string>snow</string>
	<key>http://icons.wxug.com/i/c/k/nt_chancerain.gif</key>
	<string>nt_rain</string>
	<key>http://icons.wxug.com/i/c/k/nt_rain.gif</key>
	<string>nt_rain</string>
	<key>http://icons.wxug.com/i/c/k/nt_chancesleet.gif</key>
	<string>nt_rain</string>
	<key>http://icons.wxug.com/i/c/k/nt_sleet.gif</key>
	<string>nt_rain</string>
	<key>http://icons.wxug.com/i/c/k/nt_chancetstorms.gif</key>
	<string>tstorms</string>
	<key>http://icons.wxug.com/i/c/k/nt_tstorms.gif</key>
	<string>tstorms</string>
	<key>http://icons.wxug.com/i/c/k/nt_cloudy.gif</key>
	<string>cloudy</string>
	<key>http://icons.wxug.com/i/c/k/nt_fog.gif</key>
	<string>fog</string>
	<key>http://icons.wxug.com/i/c/k/nt_hazy.gif</key>
	<string>fog</string>
	<key>http://icons.wxug.com/i/c/k/nt_mostlycloudy.gif</key>
	<string>nt_partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/nt_mostlysunny.gif</key>
	<string>nt_partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/nt_partlycloudy.gif</key>
	<string>nt_partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/nt_partlysunny.gif</key>
	<string>nt_partlysunny</string>
	<key>http://icons.wxug.com/i/c/k/nt_clear.gif</key>
	<string>nt_clear</string>
	<key>http://icons.wxug.com/i/c/k/nt_sunny.gif</key>
	<string>nt_clear</string>
</dict>
</plist>
